body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-dashboard {
    background-image: url("images/overlay.png"), linear-gradient(45deg, #4A4771 0, #7C3875 100%);
    border-bottom: 1px solid #eee;
}

.navbar a, .navbar a:visited, .sidebar a, .sidebar a:visited {
    color: #ffffff;
}

.nav > li > a:hover, .nav > li > a:visited, .nav > li > a:active {
    background-color: #00BC8A;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.widget-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 6px;
}

.nav-header {
    color: #fff;
}

.widget {
    padding: 0 10px 6px 10px;
}

.widget-green {
    background-color: #00BC8A;
    color: #fff;
}

.widget-orange {
    background-color: #FF5C00;
    color: #fff;
}