@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-xs-6 col-sm-3">
        @Html.Action("Dvla", "Widget")
    </div>
    <div class="col-xs-6 col-sm-3">BOX</div>
    <div class="col-xs-6 col-sm-3">BOX</div>
    <div class="col-xs-6 col-sm-3">BOX</div>
</div>